.checkoutContent {
    display: flex;
    justify-content: stretch;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.cart-fullscreen {
    width: 70%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(202, 202, 202);
}

.cart-fullscreen ul {
    padding-left: 0;
}

@media (max-width: 1200px) {
    .checkoutContent {
        width: 80%;
    }
}

@media (max-width: 992px) {
    .checkoutContent {
        flex-direction: column;
    }
    .cart-fullscreen {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid grey;
    }
}

@media (max-width: 768px) {
    .checkoutContent {
        width: 90%;
    }
}

