.cart-item {
    width: 90%;
    list-style: none;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    padding-bottom: 1.3rem;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.cart-item img{
    width: 7rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}
.amount {
    color: grey;
}

.title {
    font-weight: bold;
    font-size: 1.2rem;
}

.genre-price-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.genre-price-area > :first-child{
    font-size: .8rem;
}

.genre-price-area > :nth-child(2){
    font-weight: bold;
    font-size: 1.2rem;
}

.cart-item button {
    background-color: white;
    border: none;
    font-weight: bold;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 1rem;
}

.cart-item button:hover {
    color: rgb(51, 51, 51);
}